.heading {
    float: right;
    margin-right: 500px;
    font-family: sans-serif;
}

.vl{
    border-bottom: 5px solid black;
    padding-top: 80px;
    border-radius: 5px;
    width: 800px;
    margin-left: 400px;
}

img{
    border-radius: 50%;
    height: 400px;
    
}

p{
    font-size: large;
    font-family: sans-serif;
    padding-left: 100px;
    padding-right: 300px;
}

.item1{
    flex-grow: 1;
    padding-left: 50px;
    background-color: white;
}

.item2{
    flex-grow: 1;
    background-color: white;
}

.container{
    display: flex;
    justify-content: flex-end;
    float: left;
}

.bg{
    background-color: white;
}

.pad{
    padding: 50px;
}






